## Default ignored files
#/shelf/
#/.idea/workspace.xml
#.idea/
.idea
.DS_Store
/.classpath
/.settings
/.project
/eclipse-bin/
/annotation-generated-src
/annotation-generated-tst
/SAMToolkit.devenv
/configuration/stack-exec
*.iml
.aws-sam
.idea/workspace.xml
/.idea



# Ignore Gradle project-specific cache directory
.gradle/*

# Ignore Gradle build output directory
build
logs
node_modules

sample.env*
.env*
bin